## Backend environment variables (Render)
## Copy to your Render service env settings (do NOT commit real secrets)

DB_URL=jdbc:mysql://shoppro-mysql-shoppro.e.aivencloud.com:15418/shoppro_db?sslMode=REQUIRED&serverTimezone=UTC
DB_USERNAME=avnadmin
DB_PASSWORD=

CLOUDINARY_CLOUD_NAME=dakqspssm
CLOUDINARY_API_KEY=379481477315961
CLOUDINARY_API_SECRET=B97bLn6FHRko9X5Wt-0y6UyOyrg

FRONTEND_URL=https://shoppro.id.vn

